<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Control</div>
    </ons-toolbar>

    <div style="text-align: center">

        <h1>Monitor</h1>
        <ons-button class="btn" ng-click="myNavigator.pushPage('tvshow.html')">TV</ons-button>
        <br><br>
        <ons-button class="btn" ng-click="myNavigator.pushPage(tv.html)">エアコン</ons-button>
        <br><br>
        <ons-button class="btn" ng-click="myNavigator.pushPage(tv.html)">Posts</ons-button>
        <br><br>
        <ons-button class="btn"
            ng-click="myNavigator.popPage()">
            Exit
        </ons-button>

    </div>
</ons-page>

