<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Control-TV</div>
    </ons-toolbar>

    <div style="text-align: center">

        <h1>TV Control</h1>
        <ons-button
            class="btn"
            ng-click="myNavigator.popPage()">
            電源を入れる㊗️
        </ons-button>
        <br>
        <br>
        <br>
        <ons-button
            class="tvbtn"
            ng-click="myNavigator.popPage()">
            音量:+
        </ons-button>
        <ons-button
            class="tvbtn"
            ng-click="myNavigator.popPage()">
            音量:-
        </ons-button>
        <br><br><br>
                <ons-button
            class="tvbtn"
            ng-click="myNavigator.popPage()">
            選局:↑
        </ons-button>
        <ons-button
            class="tvbtn"
            ng-click="myNavigator.popPage()">
            選局:↓
        </ons-button>
        <br><br><br>
        <ons-button
            class="btn"
            ng-click="myNavigator.popPage()">
            Back
        </ons-button>
    </div>
</ons-page>
