<ons-page>
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Control-TV</div>
    </ons-toolbar>

    <div style="text-align: center">

        <h1>Air Control</h1>
        <ons-button
            ng-click="myNavigator.popPage()">
            電源を入れる㊗
        </ons-button>
        <br>
        <br>
        <br>
        <ons-button
            ng-click="myNavigator.popPage()">
        冷房
        </ons-button>
        
        <ons-button
            ng-click="myNavigator.popPage()">
        暖房
        </ons-button>        
        
        <br>
        <br>
        
        温度
        <br>
        <ons-button
            ng-click="myNavigator.popPage()">
            ＋
        </ons-button>
        <ons-button
            ng-click="myNavigator.popPage()">
            －
        </ons-button>
    </div>
</ons-page>



